@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500;700&display=swap');
body {
    height: 100vh;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

ul {
    list-style-type: none;
}


a:hover {
    opacity: 50%;
}


svg {
    width: 100%;
}

svg:hover {
    opacity: 50%;
}

.nav-container {
    background-color: #02309c;

    a {
        color: white;
        text-decoration: none;
    }
}



header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        font-size: 3em;
    }

    nav {
        ul {
            display: flex;
            

            a {
                display: block;
                padding: 0 1em;
            }
        }
    }
}

.social-header {
    
    
    ul {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        gap: 2vw;
        padding-left: unset;
    }
    li {
        
        svg {
            padding-bottom: 1em;
            width: 6vh;
            height: 6vh;
            display: block;
            margin: auto;
            
            

        }
       
    }
}


.hero {
    background-color: #012a8a;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;

    h1 {
        font-size: 5vw;
    }
    p {
        font-size: 4vw;
    }
}

.intro {
    background-color: white;
    a, a:visited {
        color:#02309c ;
    }

    p {
        font-size: 3.5vw;
    }
    img {
        width: 20vw;
        clip-path: circle();
        height: auto;
      }
}

.skills {
    background-color: #012a8a;
    
    
    p {
        font-size: 3.5vw;
        color: white;
    }
    .left {
        p {
            font-size: 15vw;
        }
        
    }
}

.contact {
    background-color: #02309c;
    p {
        font-size: 3.5vw;
        color: white;
    }
    a {
        color: white;
    }

    .left {
        p {
            font-size: 15vw;
        }
        
    }
}

section {
    padding: 4em 2em;
    text-align: center;
    
}

footer {
    background-color: #02309c;

}

@media only screen and (min-width: 800px) {

   

    .nav-container {
        ul {
            font-size: 1.2em;
        }
    }
    .hero {
        height: 80vh;
        text-align: left;
        display: grid;
        grid-template-columns: 66% auto;
        padding-bottom: 6em;
        
    }

    .intro {
        
        display: grid;
        grid-template-columns: 25% auto;

    }

    .skills {
       
        display: grid;
        grid-template-columns: 33% auto;

        
    }

    .contact {
        
        display: grid;
        grid-template-columns: 33% auto;
        text-align: center;
        .left {
            p {
                margin: 0;
                padding: 0;
                
                
            }
        }
        
    }


    .social-header {
        
        ul {
            justify-content: left;
            padding-left: unset;
           
            
            
        }
    }
}

@media only screen and (max-width: 768px ) {

    header {
        justify-content: center;
    }
    
    
    .nav-container {
        ul {
            display: none;
        }
       
    }

    .hero {
    
        h1 {
            font-size: 5vh;
        }
        p {
            font-size: 4vh;
        }

    }

    .social-header {
        ul {
            gap: 4vw;
            
        }
    }

    .intro {
        p {
            font-size: 3vh;
        }
    }

    .skills {
        p {
            font-size: 3vh;
        }
    }

    .contact {
        p {
            font-size: 3vh;
        }

    }

}